[submodule "hyena-cpp"]
	path = hyena-cpp
	url = git@github.com:FCG-LLC/hyena-cpp.git
[submodule "hyena-edge"]
	path = hyena-edge
	url = git@github.com:FCG-LLC/hyena-edge.git
[submodule "hyena-api"]
	path = hyena-api
	url = git@github.com:FCG-LLC/hyena-api.git
