[submodule "hyena"]
	path = hyena
	url = git@gitlab.cs.int:hyena/hyena.git
	branch = master
[submodule "hyena-cpp"]
	path = hyena-cpp
	url = git@gitlab.cs.int:hyena/hyena-cpp.git
	branch = master
[submodule "hyena-java"]
	path = hyena-java
	url = git@gitlab.cs.int:hyena/hyena-java.git
	branch = master
